// Automatically upgrade packages from these (origin:archive) pairs
Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
};

// List of packages to not update
Unattended-Upgrade::Package-Blacklist {
};

// Send email to this address for problems or packages upgrades
// If empty or unset then no email is sent, make sure that you
// have a working mail setup on your system. A package that provides
// 'mailx' must be installed.
Unattended-Upgrade::Mail "{{ admin_email }}";

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
