nicelevel = 19

[gpg]

password = {{ gpg_password }}
sign = yes
encryptkey = {{ gpg_keyid }}

[source]

include = /var/spool/cron/crontabs
include = /var/backups
include = /etc
include = /root
include = /home
include = /var/lib/dpkg/status
include = /var/lib/dpkg/status-old
exclude = /home/backups/

[dest]

incremental = yes
sshoptions = -oIdentityFile=/root/.ssh/id_rsa.backup
destdir = /home/backups/backups
desthost = {{ backup_to }}
destuser = backups
