client

#dev-node /dev/tun0

dev tun1
proto tcp-client

remote {{ openvpn.address }}
port 1194
persist-key
persist-tun

ca ca.crt
cert {{ openvpn.clientname}}.crt
key {{ openvpn.clientname }}.key

redirect-gateway
nobind

remote-cert-tls server
cipher aes-256-cbc
comp-lzo

#verb 3
#mute 20