port 1195
proto udp
dev tun

#ca      /etc/openvpn/easy-rsa/keys/ca.crt    # generated keys
#cert    /etc/openvpn/easy-rsa/keys/{{ inventory_hostname }}.crt
#key     /etc/openvpn/easy-rsa/keys/{{ inventory_hostname }}.key  # keep secret
#dh      /etc/openvpn/easy-rsa/keys/dh1024.pem

secret internal.key

#TODO make the second IP here the IP of the client
ifconfig {{ internal_ip }} 10.1.0.2

keepalive 10 120

comp-lzo         # Compression - must be turned on at both end
persist-key
persist-tun

status /var/log/openvpn-internal-status.log

keepalive 10 60
ping-timer-rem

verb 3  # verbose mode
